.none{

		}
		label{
			color:white;
		}
		.pushNum, .booNum, .arrowNum{
			text-align: right;
			margin-right: 5px;
			float: left;
			width: 24px;
			color: blue;
		}

		.booNum{	
			color: green;
		}
		
	    .arrowNum{	
			color: #cccccc;
		}
		.lo{
			text-align: right;
			margin-right: 7px;
			float: left;
			width: 46px;		
		}	
		.arrow{
			color: red;
		}
		
		.boo{
			color: #bb1100;
		}
